@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: #fffdfd;
}

.cabecalho{
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 117px;
    padding-left: 117px;
    box-shadow: 0 0px 5px;
}

.logoImg{
    height: 150%;
}

.todosProdutos{
    font-weight: bold;
}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #37268C;
    border-bottom: solid 1px #37268C;
}

.container{
    display: flex;
}

.vitrine{
    width: 61%px;
    height: 100%;
    margin-top: 52px;
    margin-left: 115px;
    display: flex;
    flex-direction: column;
}

.sessao{
    margin-bottom: 5px;
}

.listaProdutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Produtos{
    width: 33%;
    background: #2E245E;
    list-style: none;
}

img{
    width: 160px;
    height: 150px;
}

.imagemProduto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e4e4;
    border: solid 0;
}

.imagemProduto:hover{
    border: solid 0.5px black;
}

.informacoes{
    background: #ffffff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 10px;
    margin: 0 3px 3px 3px;
}

.categoria{
    width: 65px;
    height: 20px;
    background: #2E245E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff;
}

.titulo{
    font-size: 18px;
}

.descricao{
    font-size: 12px;
    line-height: 16px;
    font-family: 'Inter', sans-serif;   
}

.valorProduto{
    font-weight: bold;
    font-size: 14px
}

.butaoAddCarrinho{
    height: 36px;
    background: #e4e4e4;
    font-weight: 600;
    border: solid 0;
    transition: background 0.5s;
}

.butaoAddCarrinho:hover{
    background: #37268C;
    border: solid 1px #1a0779;
}

.container_2{
    width: 40%;
    background: #ffffff;
    margin: 57px 117px 0 40px;
}

.areaPesquisa{
    height: 40px;
    width: 62%;
}

.botaoPesquisar{
    height: 40px;
    width: 36%;
    color: #ffffff;
    background: #37268C;
    border: 0;
}

.Carrinho{
    background: #37268C;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
    color: white;
}

.produtoCarrinho{
    background: #e4e4e4;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtoCarrinho h3{
    width: 100%;
    font-size: 170%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.produtoCarrinho p{
    width: 100%;
    font-size: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}